* {
  margin: 0;
  padding: 0;
   box-sizing: border-box; /*sob kisu border er vitore thakbe */
}

/* shared styles */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    background-color: rgb(255, 102, 0);
    border-radius: 5px;
    border: none;
    padding: 18px 35px;
}

/* main styles */
header {
  background-color: rgb(252, 247, 241);
  padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;
    
}
nav ul a{
    text-size: 20px;
    color: #474747;
    text-decoration: none;
}
.logo h2{
    font-size: 30px;
    font-weight: 900;
}
.orange-color{
    color: rgb(255, 102, 0);
}
.white-color{
    color: white;
    font-weight: 700;
}
