* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*sob kisu border er vitore thakbe */
}

/* shared styles */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn:hover {
  background-color: rgb(189, 88, 22);
}
.btn {
  width: 200px;
  background-color: #fd6e0a;
  border-radius: 5px;
  border: none;
  padding: 18px 35px;
  cursor: pointer;
}
.btn-white {
  width: 160px;
  border-color: #fd6e0a;
  border-radius: 5px;
  padding: 18px 35px;
}
.text-center {
  text-align: center;
}

.orange-color {
  color: #fd6e0a;
}
.white-color {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

/* main styles */
header {
  max-height: 892px;
  background-color: #fff8f3;
  background: url("../images/developer.png"), url("../images/header_bg.png"),
    rgba(255, 248, 243, 1);
  background-position: left, bottom right;
  background-repeat: no-repeat;
  padding: 50px;
}

nav {
  width: 71%;
  max-width: 1140px;
  /* border: 1px solid red; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  list-style-type: none;
  gap: 51px;
  align-items: center;
}
nav ul a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}
.logo h2 {
  font-size: 30px;
  font-weight: 900;
}

#banner {
  margin: 46px 45px 0 183px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#banner .btn-text {
  display: flex;
  gap: 30px;
}
#banner .banner-text {
  max-width: 800px;
}
#banner .banner-text h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}
#banner .banner-text h1 {
  font-size: 85px;
  font-weight: bold;
  margin-bottom: 20px;
}
#banner .banner-text p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #757575;
  line-height: 30px;
  text-align: justify;
}
#banner .banner-image img {
  max-width: 584px;
  vertical-align: middle;
}
.bold-text {
  font-size: 20px;
  font-weight: bold;
}

#about, #skills, #resume {
  padding-top: 130px;
}

.section-heading {
  max-width: 827px;
  text-align: center;
  margin: 0 auto;
}
.section-heading h2 {
  font-size: 35px;
  font-style: bold;
  margin-bottom: 30px;
}
.section-heading p {
  font-size: 18px;
  line-height: 30px;
  color: rgba(117, 117, 117, 1);
  margin-bottom: 30px;
  text-align: center;
}

#about .about-container {
  width: 71%;
  max-width: 1140px;
  border-radius: 10px;
  background: rgba(255, 248, 243, 1);
  margin: 0 auto;
  text-align: center;
  padding: 131px 157px;
}

#about .about-container .about-info {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}
#about .about-container .about-info .about-card {
  font-size: 20px;
  line-height: 30px;
}

.about-card p {
  color: rgba(117, 117, 117, 1);
}

#skills {
  padding-top: 130px;
}

#skills .skills-container {
  width: 71%;
  max-width: 1140px;
  margin: 0 auto;
  align-items: center;
}

#skills .skills-container .skills-list {
  display: flex;
  gap: 24px;
}

#skills .skills-container .skills-list .skills-card {
  max-width: 267px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgba(255, 255, 255, 1);
}

.skills-card img {
  max-width: 44px;
  margin-bottom: 30px;
}

.skills-card h4 {
  font-size: 20px;
  font-style: bold;
  margin-bottom: 20px;
}

.skills-card p {
  max-width: 201px;
  font-size: 16px;
  line-height: 28px;
  color: rgba(117, 117, 117, 1);
  text-align: left;
}

#resume .resume-container {
  width: 71%;
  max-width: 1140px;
  margin: 113px auto 0;
  display: flex;
  gap: 71px;
}

.resume-container .section-title {
  color: #474747;
  font-size: 30px;
  font-weight: bold;
  line-height: 41px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}
.resume-container .card-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  line-height: 34px;
  margin-bottom: 10px;
  text-align: left;
}
.resume-container .card-info{
  color: #757575;
  font-size: 20px;
  font-style: semi-bold;
  font-weight: 600;
  line-height: 27px;
  margin-bottom: 20px;
}
.resume-container .card-text {
  color: #757575;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  margin-bottom: 29.5px;
}
.resume-container hr {
  color: #D1D1D1;
  margin-bottom: 30.5px;
}
#resume .text-center{
  margin-top: 20px;
}
